<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Department Selection Form</title>
  <link rel="stylesheet" type="text/css" th:href="@{/dep.css}">
</head>
<body>
  <div class="center-container">
    <div class="container">
      <center>
      <h1>Department</h1>
    </center>
      <form th:action="@{/employee/employee-create}" method="post" th:object="${departments}">
        <select name="department">
          <option th:each="dept : ${departments}" th:text="${dept.department}"  th:value="${dept.department}">
            <input type="hidden" name="id" th:field="${dept.id}">
          </option>
        </select>
        <br/>
        <br/>
        <br/>
        <div>
        <input type="submit" class="submit-btn">
       </div>
      </form>
    </div>
  </div>
</body>
</html>
