<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <title>Stackfindover: Sign in</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Include your custom CSS -->
  <link rel="stylesheet" type="text/css" th:href="@{/login.css}">
</head>
<body>
<div class="login-root">
  <div class="login-card">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title text-center"><a href=" " rel="dofollow">E D M</a></h1>
        <form id="stripe-login" th:action="@{/app/login}" method="post" class="form-horizontal">
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" class="form-control">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control">
          </div>
          <div class="form-group text-center">
            <input type="submit" name="submit" value="Continue" class="btn btn-primary">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
